PROJECT_NAME = My Event App BE
RUNNING_PORT = 5002

AUTH0_DOMAIN=dev-1auqth0n.us.auth0.com
AUTH0_AUDIENCE=https://dev-1auqth0n.us.auth0.com/api/v2/
AUTH0_BASE_URL=https://dev-1auqth0n.us.auth0.com
AUTH0_ALGO=RS256

MYSQL_SERVER = 127.0.0.1:3306
MYSQL_USER = root
MYSQL_PASSWORD =
MYSQL_DB = my_event_app