﻿aioredis==2.0.1
aiosmtplib==1.1.6
anyio==3.5.0
asgiref==3.5.0
async-timeout==4.0.2
attrs==21.4.0
blinker==1.4
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.4
cloudinary==1.29.0
colorama==0.4.4
cryptography==36.0.1
databases==0.5.5
Deprecated==1.2.13
dnspython==2.2.1
email-validator==1.2.1
fakeredis==1.7.4
fastapi==0.75.2
fastapi-mail==1.0.8
greenlet==1.1.2
h11==0.12.0
httpcore==0.14.7
httpx==0.22.0
idna==2.10
importlib-resources==5.4.0
inflection==0.5.1
Jinja2==3.1.2
jsonschema==4.4.0
MarkupSafe==2.1.1
mysqlclient==2.1.0
openapi==1.1.0
packaging==21.3
passlib==1.7.4
pycparser==2.21
pydantic==1.9.0
PyJWT==2.3.0
PyMySQL==1.0.2
pyparsing==3.0.9
pyrsistent==0.18.1
python-dotenv==0.19.2
python-multipart==0.0.5
redis==4.2.2
requests==2.25.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
SQLAlchemy==1.4.32
starlette==0.17.1
typing_extensions==4.1.1
urllib3==1.26.9
uvicorn==0.17.5
wrapt==1.14.1
zipp==3.7.0